header{
    background-color: black;
    width: 100%;
    height: 1cm;
    color: white;
    margin-top: -0.2cm;
}
header p{
    margin-left: 0.2cm;
    font-family: Titillium Web,sans-serif;
    font-weight: 400;
    font-size: 11px;
    padding-top: 0.3cm;
    
}
header p a{
    text-decoration: none;
    color: white;
}
header div p{
    color: white;
    text-align: center;
    margin-top: -1cm;
    font-family: Titillium Web,sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
}
header div a{
    color: white;
    float: right;
    margin-right: 1cm;
    font-family: Titillium Web,sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top:-0.6cm;
    text-decoration: none;
    
}
.top{
    width: 100%;
    background-color: #0E376F;
    height: 1.8cm;
}
.top img{
width: 8%;
}
.top p{
   
    margin-left: 2cm;
    text-decoration-style:solid;
    color: white;
    font-family: Titillium Web,sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: -1.8cm;
    margin-left: 2.7cm;
}
.top ul{
    float: right;
    margin-right: 6cm;
    margin-top:-2.5cm;
}
.top ul li{
    color: #000;
    display: inline;
    margin-right: 2cm;
    margin-left: 1cm;
 
   
}
.top ul li a{
   text-decoration:none ;
   color: white;
   text-decoration-style:solid;
   font-family: Titillium Web,sans-serif;
}
.container img{
    margin-left: 0.5cm;
    width: 50%;
}
.container p{
    margin-top: -2cm;
    margin-left: 9cm;
    color: white;
    text-decoration-style:solid;
    font-family: Titillium Web,sans-serif;
    font-weight: 700;
    font-size: 30px;
    width :30%;
}